.ProjectTests{
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
 .ui.fluid.dropdown {
    display: block;
    width: 90%;
    background: #2A617E;
    font-size: 20px;
    color: #fff;
    height: 60px;
    
}
.ui.selection.dropdown .menu {
    max-height: 15rem !important;
}
.text_tittle{
    font-size: 18px
}
.test_flex{
    width: 90%;
    margin:  0 auto;
    display: flex;
    justify-content: space-between
}
.test_flex p{
    font-size: 16px;
}
.ui.selection.dropdown {
    transform: none !important;
}
.ui.selection.dropdown>.dropdown.icon {
    opacity: 1;
}
.ui.dropdown .menu>.item {
    color: #000;
}
.ui.dropdown .menu {
    z-index: auto;
}
.fa-arrow-circle-right:before {
    content: "\f0a9";
    font-size: 30px;
    color: #2A617E;
    cursor: pointer
}
@media screen and (max-width:450px){
    .fa-arrow-circle-right:before {
        margin-left: 10px;
    }
}