    .Admin_page {
        width: 100%;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .admin_page_size {
        width: 600px;
        margin: 0 auto;
    }
    .fa-arrow-right {
        margin-left: 30px;
    }
    
    .add_new_project_btn {
        width: 100%;
        text-align: center;
    }
    .add_new_project_btn button {
        width: 200px;
        height: 45px;
        background-color: #2A617E;
        border: none;
        outline: none;
        color: #fff !important;
        margin: 40px auto;
        font-size: 18px;
        border-radius: 20px;
        cursor: pointer;
    }
    .fa-plus{
        margin-right: 15px;
    }
    .admin_page_inputs{
        width: 78%;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: space-between
    }
    .admin_page_inputs_filtr{
        display: flex;
        align-items: center;
        width: 50%;
    }
    .admin_page_inputs_filtr_2{
        justify-content: flex-end
    }
    .admin_page_inputs_filtr input{
        width: 17px;
        height: 17px;
        margin-right: 15px;
        cursor: pointer;
    }
    .admin_page_inputs_filtr p{
        font-size: 18px;
    }
    .admin_page_search{
        width: 80%;
        margin: 0 auto 15px;
        display: flex;
        align-items: center;
    }
    .admin_page_search input{
        width: 85%;
        height: 40px;
        background: #fff;
        border: 1px solid #E5E1E1;
        font-size: 16px;
        text-align: center
    }
    .admin_page_search button{
        width: 15%;
        height: 40px;
        background: #fff;
        border: 1px solid #E5E1E1;
        font-size: 18px;
        cursor: pointer;

    }
    .ui.default.dropdown:not(.button)>.text,
    .ui.dropdown:not(.button)>.default.text {
        color: #fff;
    }
    .admin_p_clear_top{
        width: 100%;
        padding: 40px 0 20px 0;
        display: flex;
        justify-content: space-between
    }
    
    @media screen and (max-width:767px) {
        .admin_page_size {
            width: 100%;
            margin: 0 auto;
        }
        .admin_page_inputs_filtr input{
            width: 16px;
            height: 16px;
            margin-right: 10px;
            cursor: pointer;
        }
    }