.next_btn_div {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.next_btn {
    width: 250px;
    min-width: 150px;
    height: 55px;
    background-color: #2A617E;
    border: none;
    outline: none;
    color: #fff !important;
    margin: 100px auto 0;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}
@media screen and (max-width:767px) {
    .next_btn {
        width: 130px;
        height: 42px;
        margin: 100px auto 0;
        font-size: 20px;
    }
}